body{
	margin: 0;
}

.insetShadow{
	box-shadow: inset 0px 0px 20px 10px #000;
}

.image{
	position: relative;
	width: 100%;
	z-index: -1;
}
.title{
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	top: 40px;
	right: 5%;
	color: black;
	font-size: 220%;
	
}
.beige{
	background-color: beige;
	float: left;
	width: 100%;
	height: 666px;
}
.aboutMe{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding-left: 60px;
}
.hello{
	font-size: 180%;
}
.aboutMeBody{
	font-size: 120%
}
.myPicture{
	position: relative;
	height: 666px;
	width: 500px;
	padding-left: 60px;
}
.image2{
	background-image: url("background2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 666px;
}
.contact{
	position: relative;
	top: -90px;
	left: 5%;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 220%;
}
.emailIcon{
	width: 50px;
	height: 30px;
	padding-top: 30px;
}
.email{
	padding-top: 30px;
}